example-flows.json
[{"id":"658c5316.12519c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c0265bf6.a0666","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ca2ccf5c.90de88","type":"mqtt-broker","name":"tsardou_broker","broker":"155.207.19.251","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e9d0240.7e5c84","type":"mqtt-broker","name":"","broker":" public.mqtthq.com","port":"1883","tls":"","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":"30"},{"id":"3f8b8a10.6cd626","type":"mqtt-broker","name":"","broker":"172.17.0.3","port":"1883","clientid":"node1","usetls":false,"compatmode":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"tt","birthQos":"0","birthPayload":"11","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6c59ebf2.d1c73c","type":"my-mqtt-broker","lname":"issel","host":"155.207.19.251","port":"1883","username":"se2:student","password":"student"},{"id":"2138a09d.58a04","type":"my-mqtt-broker","lname":"issel","host":"155.207.19.251","port":"1883","username":"se2:student","password":"student"},{"id":"74ce4f78.36c61","type":"my-mqtt-broker","lname":"temp","host":"192.168.0.127","port":"1883","username":"guest","password":"guest"},{"id":"884d2cb1.573a1","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":100,"wires":[["6f914191.5bf768"]]},{"id":"6f914191.5bf768","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"cat","x":270,"y":100,"wires":[["4af9341b.0d9cbc","79150086.4de458"]]},{"id":"ab48a057.7683d","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":300,"wires":[["7880c149.09a92"]]},{"id":"4af9341b.0d9cbc","type":"add noise","z":"658c5316.12519c","broker":"2138a09d.58a04","mean":"2","scale":"1","noiseType":"uniform","x":460,"y":100,"wires":[["daae547a.27b3d","82ba80bc.ea13a8"]]},{"id":"daae547a.27b3d","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"4","x":690,"y":100,"wires":[["132b8567.f6055b","55797210.13c73c"]]},{"id":"132b8567.f6055b","type":"morphological transform","z":"658c5316.12519c","broker":"2138a09d.58a04","kernelSize":"3","kernelShape":"0","which":"Closing","iterationNum":"1","x":930,"y":100,"wires":[["5c75c5a7.7ec4b4","2389f651.484862"]]},{"id":"a99cadcc.00ce18","type":"thresholding","z":"658c5316.12519c","broker":"2138a09d.58a04","threshType":"1","threshSubtype":"0","adaptiveMethod":"0","thresh":"150","maxVal":"255","blockSize":"11","const":"0","x":1370,"y":100,"wires":[["38a3cd48.c84502"]]},{"id":"5c75c5a7.7ec4b4","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"6","x":1170,"y":100,"wires":[["a99cadcc.00ce18","c89b0885.8c9d3"]]},{"id":"c555e4be.5c19e","type":"create solid image","z":"658c5316.12519c","broker":"2138a09d.58a04","chi":"100","psi":"100","isGrayscale":false,"colorVal":"#ff0000","grayscaleVal":"255","x":320,"y":560,"wires":[["b1178ef9.ee8fc8"]]},{"id":"e66e64e4.c1aa28","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_src","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[["6293107f.5538c8"]]},{"id":"7880c149.09a92","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"binary_blobs","x":270,"y":300,"wires":[["e66e64e4.c1aa28"]]},{"id":"6f76e237.f1fc7c","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload.img","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":700,"y":560,"wires":[]},{"id":"e625d88b.673ab8","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":560,"wires":[["c555e4be.5c19e"]]},{"id":"b1178ef9.ee8fc8","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"a.img","tot":"msg"},{"t":"move","p":"a.img","pt":"msg","to":"payload.img","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":560,"wires":[["6f76e237.f1fc7c","775efaca.5a2fbc"]]},{"id":"55797210.13c73c","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":680,"y":140,"wires":[]},{"id":"2389f651.484862","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":900,"y":140,"wires":[]},{"id":"c89b0885.8c9d3","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1160,"y":140,"wires":[]},{"id":"e13eb9cb.e8fcb8","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":680,"y":340,"wires":[]},{"id":"97931330.908f5","type":"fourier transform","z":"658c5316.12519c","broker":"2138a09d.58a04","x":720,"y":760,"wires":[["ef1ab410.74cc2","f8725f9a.51ea3"],["f15d4f36.c75a7","744dbedc.c6edd8"]]},{"id":"1a4617b9.5b3ad8","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":920,"wires":[["1c3d7633.21fa52","efcafe6b.ebc03"]]},{"id":"1c3d7633.21fa52","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"astronaut","x":290,"y":760,"wires":[["317e0587.b126ca","eb27d08f.3c73a"]]},{"id":"ef1ab410.74cc2","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload.matr","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":720,"y":820,"wires":[]},{"id":"317e0587.b126ca","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":280,"y":800,"wires":[]},{"id":"8a69009b.d345c","type":"inverse fourier transform","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1350,"y":680,"wires":[["2a1c1a55.3ab076"]]},{"id":"f15d4f36.c75a7","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":920,"y":820,"wires":[]},{"id":"257dde70.1d0192","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1150,"y":680,"wires":[["8a69009b.d345c"]]},{"id":"2a1c1a55.3ab076","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1320,"y":720,"wires":[]},{"id":"f8725f9a.51ea3","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"magnitude","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":740,"wires":[["257dde70.1d0192","7866f952.45de8"]]},{"id":"744dbedc.c6edd8","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"phase","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":780,"wires":[["257dde70.1d0192","bd03b30c.378198"]]},{"id":"ef6a83ea.380e1","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":800,"wires":[]},{"id":"2799ef95.045408","type":"split image","z":"658c5316.12519c","broker":"2138a09d.58a04","x":530,"y":1440,"wires":[["e6148a0.9688ef8","b36dd797.0acfa8"],["4a492d95.fe8e54","54f6190f.7d196"],["8e049f95.ab33f8","7a6b0955.167e7"]]},{"id":"bf3aa509.01fd8","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1440,"wires":[["50bded17.28674c"]]},{"id":"50bded17.28674c","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"colorwheel","x":310,"y":1440,"wires":[["2799ef95.045408","a05c3d68.99729"]]},{"id":"e6148a0.9688ef8","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":540,"y":1540,"wires":[]},{"id":"4a492d95.fe8e54","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":740,"y":1540,"wires":[]},{"id":"8e049f95.ab33f8","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":940,"y":1540,"wires":[]},{"id":"3f0684fb.3fed8c","type":"merge image","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1150,"y":1440,"wires":[["d371c1c0.2c1de"]]},{"id":"52569b4.1813ce4","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":1440,"wires":[["3f0684fb.3fed8c"]]},{"id":"54f6190f.7d196","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"ch_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1420,"wires":[["52569b4.1813ce4"]]},{"id":"7a6b0955.167e7","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"ch_0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1460,"wires":[["52569b4.1813ce4"]]},{"id":"b36dd797.0acfa8","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"ch_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":1380,"wires":[["52569b4.1813ce4"]]},{"id":"d371c1c0.2c1de","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1160,"y":1480,"wires":[]},{"id":"601218e.c86c1e8","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":1820,"wires":[["edc8c568.40bb58"]]},{"id":"a5b1a6b5.240048","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1800,"wires":[["601218e.c86c1e8"]]},{"id":"68db22ef.134c54","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1840,"wires":[["601218e.c86c1e8"]]},{"id":"24967471.ac4db4","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1820,"wires":[["67f997fe.677a1","41451a4c.d3759c"]]},{"id":"41451a4c.d3759c","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"coffee","x":310,"y":1800,"wires":[["b9490d8f.b2488"]]},{"id":"67f997fe.677a1","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"cat","x":310,"y":1840,"wires":[["765f73c5.04f6cc"]]},{"id":"4f2bce0e.37bc68","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1060,"y":1860,"wires":[]},{"id":"64978229.57f5dc","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":420,"y":1920,"wires":[]},{"id":"1ba00607.56bcf2","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":620,"y":1920,"wires":[]},{"id":"b9490d8f.b2488","type":"resize image","z":"658c5316.12519c","broker":"2138a09d.58a04","dsize_cols":"100","dsize_rows":"100","fx":"1","fy":"1","x":510,"y":1800,"wires":[["64978229.57f5dc","a5b1a6b5.240048"]]},{"id":"765f73c5.04f6cc","type":"resize image","z":"658c5316.12519c","broker":"2138a09d.58a04","dsize_cols":"100","dsize_rows":"100","fx":"1","fy":"1","x":510,"y":1840,"wires":[["1ba00607.56bcf2","68db22ef.134c54","10067109.2fb71f"]]},{"id":"edc8c568.40bb58","type":"combine images","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1060,"y":1820,"wires":[["4f2bce0e.37bc68"]]},{"id":"a0d22eb0.fcee1","type":"create window","z":"658c5316.12519c","broker":"2138a09d.58a04","windowType":"blackman","param":"0.8","x":280,"y":2120,"wires":[["7a4d04c3.44b12c","3d77a51d.f757ba"]]},{"id":"7a4d04c3.44b12c","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":280,"y":2180,"wires":[]},{"id":"c6ba3fba.4d56f","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_mask","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":2120,"wires":[["601218e.c86c1e8"]]},{"id":"3d77a51d.f757ba","type":"thresholding","z":"658c5316.12519c","broker":"2138a09d.58a04","threshType":"0","threshSubtype":"0","adaptiveMethod":"0","thresh":"0.1","maxVal":"255","blockSize":"11","const":"0","x":510,"y":2120,"wires":[["c6ba3fba.4d56f","417cd533.6bfb14"]]},{"id":"165262d9.9a9d8d","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2420,"wires":[["e3f1d6ee.1e096"]]},{"id":"abcf9ea2.32d3c","type":"affine transform","z":"658c5316.12519c","broker":"2138a09d.58a04","translationPercentX":"0","translationPercentY":"0","rotCenterPercentX":"0.5","rotCenterPercentY":"0.5","rotAngle":"180","scale":"2","x":500,"y":2420,"wires":[["8a6268bf.4d7a3"]]},{"id":"1fa0f839.ef8478","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":2460,"wires":[]},{"id":"8a6268bf.4d7a3","type":"image","z":"658c5316.12519c","name":"","width":"320","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":2460,"wires":[]},{"id":"da393be3.418a8","type":"sf:ce6153fd.93e5d8","z":"658c5316.12519c","name":"","img_url":"https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/103px-Wikipedia-logo-v2.svg.png","x":270,"y":2640,"wires":[["d1304936.e0e6","a77e0ca6.bb52e8"]]},{"id":"838005bc.47bcd8","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":2640,"wires":[["da393be3.418a8"]]},{"id":"6293107f.5538c8","type":"generic call","z":"658c5316.12519c","broker":"2138a09d.58a04","funcName":"cvtColor","params":"{\"code\":3}","outputLabel":"img","outputs":1,"x":670,"y":300,"wires":[["e13eb9cb.e8fcb8"]]},{"id":"e3f1d6ee.1e096","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"coffee","x":270,"y":2420,"wires":[["abcf9ea2.32d3c","1fa0f839.ef8478"]]},{"id":"d1304936.e0e6","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":2680,"wires":[]},{"id":"aa4aa697.6dcc38","type":"image","z":"658c5316.12519c","name":"","width":"320","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":2680,"wires":[]},{"id":"a77e0ca6.bb52e8","type":"add offset or crop","z":"658c5316.12519c","broker":"2138a09d.58a04","left":"11","right":"20","top":"30","bot":"40","isGrayscale":false,"colorVal":"#ef2929","grayscaleVal":"0","x":490,"y":2640,"wires":[["aa4aa697.6dcc38"]]},{"id":"4d9ea966.041f88","type":"tune hsv","z":"658c5316.12519c","broker":"2138a09d.58a04","ch":"v","multiply":"20","addi":"0","modulo":true,"x":480,"y":2880,"wires":[["1e0a36f3.abea39"]]},{"id":"b8c09cc6.72941","type":"create contour","z":"658c5316.12519c","width":"320","imgField":"payload","x":480,"y":3100,"wires":[["1d71d52b.cbacf3"]]},{"id":"3fc93939.3ffb36","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3140,"wires":[["b49ae576.d626a"]]},{"id":"1e94afd6.2b4ee","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2880,"wires":[["b1850a92.88b53"]]},{"id":"b1850a92.88b53","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"coffee","x":270,"y":2880,"wires":[["4d9ea966.041f88","11b415fc.16d07a"]]},{"id":"11b415fc.16d07a","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":2920,"wires":[]},{"id":"1e0a36f3.abea39","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":2920,"wires":[]},{"id":"bddefd12.37db5","type":"create mask from contour","z":"658c5316.12519c","broker":"2138a09d.58a04","x":990,"y":3140,"wires":[["22825a3d.b3d1f6"]]},{"id":"22825a3d.b3d1f6","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":960,"y":3180,"wires":[]},{"id":"1d71d52b.cbacf3","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":810,"y":3140,"wires":[["bddefd12.37db5"]]},{"id":"b49ae576.d626a","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"coffee","x":270,"y":3140,"wires":[["b8c09cc6.72941","1d71d52b.cbacf3"]]},{"id":"b0172dba.930c9","type":"fourier transform","z":"658c5316.12519c","broker":"2138a09d.58a04","x":700,"y":1080,"wires":[["c49155c1.727b98","65275e08.1ac568"],["18bd884a.bdab88","e1e9b3b8.23c5a"]]},{"id":"efcafe6b.ebc03","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"cat","x":290,"y":1040,"wires":[["f6d438a9.fccb9"]]},{"id":"c49155c1.727b98","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload.matr","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":700,"y":1140,"wires":[]},{"id":"1c328670.da0d9a","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":1120,"wires":[]},{"id":"5311813d.1d94c8","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":1120,"wires":[]},{"id":"18bd884a.bdab88","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":900,"y":1140,"wires":[]},{"id":"65275e08.1ac568","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"magnitude","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1040,"wires":[["bd03b30c.378198"]]},{"id":"e1e9b3b8.23c5a","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"phase","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":1080,"wires":[["7866f952.45de8"]]},{"id":"7866f952.45de8","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1150,"y":960,"wires":[["abffeb78.742638"]]},{"id":"bd03b30c.378198","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1150,"y":1220,"wires":[["e1502cd.b95b8d"]]},{"id":"abffeb78.742638","type":"inverse fourier transform","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1350,"y":960,"wires":[["75bfb722.fd8ec"]]},{"id":"75bfb722.fd8ec","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1320,"y":1000,"wires":[]},{"id":"e1502cd.b95b8d","type":"inverse fourier transform","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1350,"y":1220,"wires":[["28759bb8.333c54"]]},{"id":"28759bb8.333c54","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1320,"y":1260,"wires":[]},{"id":"f6d438a9.fccb9","type":"resize image","z":"658c5316.12519c","broker":"2138a09d.58a04","dsize_cols":"512","dsize_rows":"512","fx":"1","fy":"1","x":270,"y":1080,"wires":[["1c328670.da0d9a","358a05f2.fa29b2"]]},{"id":"eb27d08f.3c73a","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"6","x":510,"y":760,"wires":[["97931330.908f5","ef6a83ea.380e1"]]},{"id":"358a05f2.fa29b2","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"6","x":470,"y":1080,"wires":[["b0172dba.930c9","5311813d.1d94c8"]]},{"id":"d263ec2.ff3a99","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3680,"wires":[["f1e54085.acfae"]]},{"id":"f1e54085.acfae","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"coffee","x":290,"y":3680,"wires":[["83bdd073.ef17b","1ccf3e90.bde201"]]},{"id":"83bdd073.ef17b","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":280,"y":3720,"wires":[]},{"id":"539baa86.f80f2c","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":540,"y":3720,"wires":[]},{"id":"eb815abb.d0cbc","type":"morphological chan vese segmentation","z":"658c5316.12519c","broker":"2138a09d.58a04","initLevelSetType":"checkerboard","numIterations":"21","smoothing":"5","l1":"1","l2":"1","x":570,"y":3900,"wires":[["9097c95d.6ec54"]]},{"id":"f7fcc91.13375b8","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3900,"wires":[["81393e16.430f18"]]},{"id":"81393e16.430f18","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"coins","x":270,"y":3900,"wires":[["2a2e4047.d03828","eb815abb.d0cbc"]]},{"id":"2a2e4047.d03828","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":3940,"wires":[]},{"id":"9097c95d.6ec54","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":3940,"wires":[]},{"id":"1ccf3e90.bde201","type":"color quantization","z":"658c5316.12519c","broker":"2138a09d.58a04","kappa":"4","initCenters":"2","attempts":"1","eps":"7","maxIter":"10","x":540,"y":3680,"wires":[["539baa86.f80f2c"],["40de81eb.9b35a8"],["1b878e4.2bf7672"]]},{"id":"1b878e4.2bf7672","type":"debug","z":"658c5316.12519c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":3700,"wires":[]},{"id":"548b7dff.68467c","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":4160,"wires":[["33b87994.093346"]]},{"id":"33b87994.093346","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"coins","x":290,"y":4160,"wires":[["9217843a.a8f308","a09b8e76.29764"]]},{"id":"9143c969.2f172","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":840,"y":4200,"wires":[]},{"id":"20d4b11c.e04bfe","type":"active contour segmentation","z":"658c5316.12519c","broker":"2138a09d.58a04","corners":"","alpha":"0.016","beta":"10","gamma":"0.001","gausSigma":"5","linePointsStep":"1","x":880,"y":4160,"wires":[["9143c969.2f172"]]},{"id":"a09b8e76.29764","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":670,"y":4160,"wires":[["20d4b11c.e04bfe"]]},{"id":"9217843a.a8f308","type":"create contour","z":"658c5316.12519c","width":"320","imgField":"payload","x":500,"y":4200,"wires":[["a09b8e76.29764"]]},{"id":"99e34b25.593d5","type":"comment","z":"658c5316.12519c","name":"operations with multipe images","info":"","x":970,"y":2140,"wires":[]},{"id":"f6a2743d.ad4248","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":280,"y":100,"wires":[]},{"id":"f3b25b60.fe3f6","type":"hough line detection","z":"c0265bf6.a0666","broker":"2138a09d.58a04","threshold":"300","rho":"1","theta":"0.1","probabilistic":true,"minLineLength":"400","maxLineGap":"100","x":920,"y":60,"wires":[["d848837e.3dc16"]]},{"id":"cb6ade03.e72298","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":720,"y":100,"wires":[]},{"id":"b9679883.1cde08","type":"thresholding","z":"c0265bf6.a0666","broker":"2138a09d.58a04","threshType":"0","threshSubtype":"0","adaptiveMethod":"0","thresh":"120","maxVal":"255","blockSize":"11","const":"0","x":710,"y":60,"wires":[["f3b25b60.fe3f6","cb6ade03.e72298"]]},{"id":"d848837e.3dc16","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":60,"wires":[]},{"id":"40eb3b25.7af81c","type":"sf:ce6153fd.93e5d8","z":"c0265bf6.a0666","name":"","img_url":"https://i.guim.co.uk/img/media/46fddb18558d212bb479819abf14a4f49ee9492a/0_0_431_431/master/431.jpg?width=465&quality=85&dpr=1&s=none","x":290,"y":60,"wires":[["76cb4918.536328","f6a2743d.ad4248"]]},{"id":"1d318f3a.bee4f9","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":60,"wires":[["40eb3b25.7af81c"]]},{"id":"76cb4918.536328","type":"change color space","z":"c0265bf6.a0666","broker":"2138a09d.58a04","colCode":"6","x":510,"y":60,"wires":[["b9679883.1cde08"]]},{"id":"676eb9a4.b1758","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"coins","x":270,"y":360,"wires":[["94ed37c5.74ec88","3e6fbd46.97557a","af8be046.ef9b"]]},{"id":"94ed37c5.74ec88","type":"add offset or crop","z":"c0265bf6.a0666","broker":"2138a09d.58a04","left":"-300","right":"-10","top":"-10","bot":"-225","isGrayscale":true,"colorVal":"#000000","grayscaleVal":"0","x":490,"y":440,"wires":[["4cc01e08.a848","5d082e44.f31408"]]},{"id":"3e6fbd46.97557a","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":400,"wires":[]},{"id":"4cc01e08.a848","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":480,"wires":[]},{"id":"af8be046.ef9b","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":360,"wires":[["d32fd031.e289b"]]},{"id":"5d082e44.f31408","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_template","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":440,"wires":[["d32fd031.e289b"]]},{"id":"d0ca351f.fe69d","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["676eb9a4.b1758"]]},{"id":"d32fd031.e289b","type":"join","z":"c0265bf6.a0666","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":850,"y":400,"wires":[["906ba5db.cd9108"]]},{"id":"906ba5db.cd9108","type":"template matching","z":"c0265bf6.a0666","broker":"2138a09d.58a04","method":"1","x":1030,"y":400,"wires":[["a5174bb8.2b0d3","f06bf02d.9b00d"]]},{"id":"a5174bb8.2b0d3","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1020,"y":440,"wires":[]},{"id":"60588722.f94d88","type":"histogram backprojection","z":"c0265bf6.a0666","broker":"2138a09d.58a04","convElemSize":"1","x":810,"y":980,"wires":[["2ab7242c.5e54f4","c1fea8eb.1c9c7"]]},{"id":"3255b2b0.158e46","type":"add offset or crop","z":"c0265bf6.a0666","broker":"2138a09d.58a04","left":"-100","right":"-300","top":"-300","bot":"-50","isGrayscale":true,"colorVal":"#000000","grayscaleVal":"0","x":350,"y":1040,"wires":[["2b977828.d128d8","a487b560.83d7a"]]},{"id":"f5ea5b04.e66a38","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":120,"y":900,"wires":[]},{"id":"2b977828.d128d8","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":340,"y":1080,"wires":[]},{"id":"bc4a8d8a.8e4d68","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":920,"wires":[["2923f784.d9d268"]]},{"id":"a487b560.83d7a","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_roi","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1040,"wires":[["2923f784.d9d268"]]},{"id":"2923f784.d9d268","type":"join","z":"c0265bf6.a0666","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":630,"y":980,"wires":[["60588722.f94d88"]]},{"id":"b7f4d1f7.77edc","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":820,"wires":[["da39670b.0839f"]]},{"id":"2ab7242c.5e54f4","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":780,"y":1020,"wires":[]},{"id":"49aafdaa.a3e1b4","type":"hough circle detection","z":"c0265bf6.a0666","broker":"2138a09d.58a04","method":"3","dp":"1.5","minDist":"5","param1":"101","minRadius":"3","maxRadius":"-1","x":740,"y":1440,"wires":[["df7ed4aa.422c4"]]},{"id":"8a4ee910.921e48","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":300,"y":1520,"wires":[]},{"id":"213b3b66.cba5fc","type":"sf:ce6153fd.93e5d8","z":"c0265bf6.a0666","name":"","img_url":"https://i.guim.co.uk/img/media/46fddb18558d212bb479819abf14a4f49ee9492a/0_0_431_431/master/431.jpg?width=465&quality=85&dpr=1&s=none","x":310,"y":1440,"wires":[["8a4ee910.921e48","65b79d6b.c1d44c","3e6a4e7f.1283da"]]},{"id":"bcc6db6d.286dc8","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1440,"wires":[["213b3b66.cba5fc"]]},{"id":"65b79d6b.c1d44c","type":"get image dims","z":"c0265bf6.a0666","broker":"2138a09d.58a04","x":510,"y":1380,"wires":[["ddc16f0c.2d4c48"]]},{"id":"ddc16f0c.2d4c48","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":1380,"wires":[]},{"id":"3e6a4e7f.1283da","type":"change color space","z":"c0265bf6.a0666","broker":"2138a09d.58a04","colCode":"6","x":530,"y":1440,"wires":[["49aafdaa.a3e1b4"]]},{"id":"5df5d070.3b10b8","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"camera","x":270,"y":1740,"wires":[["bb6c3b8d.73817","d5121696.c4c468"]]},{"id":"39d6b72e.11f888","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":1740,"wires":[["5df5d070.3b10b8"]]},{"id":"bb6c3b8d.73817","type":"plot histogram","z":"c0265bf6.a0666","broker":"2138a09d.58a04","perChannel":false,"logy":true,"x":480,"y":1740,"wires":[["523aa0f4.e5a7"]]},{"id":"d5121696.c4c468","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":1780,"wires":[]},{"id":"523aa0f4.e5a7","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":1780,"wires":[]},{"id":"ee714004.a1bcb","type":"match histogram","z":"c0265bf6.a0666","broker":"2138a09d.58a04","x":760,"y":2400,"wires":[["5a13c3bc.369b5c","484f3d44.c775ac"]]},{"id":"6c123e37.1be9f","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2260,"wires":[["98d653cb.0a00f8"]]},{"id":"b0200d0.40358f","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_ref","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":2540,"wires":[["98d653cb.0a00f8"]]},{"id":"98d653cb.0a00f8","type":"join","z":"c0265bf6.a0666","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":550,"y":2400,"wires":[["ee714004.a1bcb"]]},{"id":"f92c9101.19ee7","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"camera","x":270,"y":2260,"wires":[["14ac40dc.76e087","6c123e37.1be9f"]]},{"id":"8da8882d.29af5","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2260,"wires":[["f92c9101.19ee7"]]},{"id":"14ac40dc.76e087","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":2300,"wires":[]},{"id":"5a13c3bc.369b5c","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":760,"y":2440,"wires":[]},{"id":"f2b58e78.8474f8","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"eagle","x":270,"y":2540,"wires":[["f484c5c7.c090a8","b0200d0.40358f","cab28bfd.dbecb"]]},{"id":"a498c18e.825f","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2540,"wires":[["f2b58e78.8474f8"]]},{"id":"f484c5c7.c090a8","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":2580,"wires":[]},{"id":"484f3d44.c775ac","type":"plot histogram","z":"c0265bf6.a0666","broker":"2138a09d.58a04","perChannel":false,"logy":true,"x":980,"y":2400,"wires":[["6e5024cd.7cad34"]]},{"id":"6e5024cd.7cad34","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":980,"y":2440,"wires":[]},{"id":"cab28bfd.dbecb","type":"plot histogram","z":"c0265bf6.a0666","broker":"2138a09d.58a04","perChannel":false,"logy":true,"x":500,"y":2600,"wires":[["6a1b63c.33a139c"]]},{"id":"6a1b63c.33a139c","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":2640,"wires":[]},{"id":"3efd59b2.9e0ace","type":"histogram equalization","z":"c0265bf6.a0666","broker":"2138a09d.58a04","equalType":"0","clipLimit":"40","tileGridSizeX":"8","tileGridSizeY":"8","x":500,"y":2000,"wires":[["15963251.ce9826","8fa1744c.76898"]]},{"id":"15963251.ce9826","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":2040,"wires":[]},{"id":"8fa1744c.76898","type":"plot histogram","z":"c0265bf6.a0666","broker":"2138a09d.58a04","perChannel":false,"logy":true,"x":760,"y":2000,"wires":[["94f4756d.cc7e38"]]},{"id":"94f4756d.cc7e38","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":760,"y":2040,"wires":[]},{"id":"195f9392.57e09c","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"camera","x":270,"y":2000,"wires":[["c1ae1173.fa2a48","3efd59b2.9e0ace"]]},{"id":"21568551.70c73a","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2000,"wires":[["195f9392.57e09c"]]},{"id":"c1ae1173.fa2a48","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":2040,"wires":[]},{"id":"f7e576fa.93384","type":"calculate 2d histogram","z":"c0265bf6.a0666","broker":"2138a09d.58a04","colSpaceType":"BGR","ch1":"0","ch2":"1","x":560,"y":2880,"wires":[["32aeb29b.c0a09e"]]},{"id":"8fb95a09.33eba","type":"calculate histogram","z":"c0265bf6.a0666","broker":"2138a09d.58a04","isGrayscale":false,"numBins":"256","channel":"2","x":550,"y":2840,"wires":[["813c457b.dc4818"]]},{"id":"fb29f9f6.612e4","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"cat","x":270,"y":2840,"wires":[["7b117fd4.f70c8","f7e576fa.93384","8fb95a09.33eba"]]},{"id":"7087ecbd.66e66c","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":2840,"wires":[["fb29f9f6.612e4"]]},{"id":"7b117fd4.f70c8","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":2880,"wires":[]},{"id":"813c457b.dc4818","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":2840,"wires":[]},{"id":"32aeb29b.c0a09e","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload.matr","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":540,"y":2920,"wires":[]},{"id":"11491da2.c5e3b2","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"binary_blobs","x":270,"y":3220,"wires":[["1384efb8.b52a9","fa501c47.421e5"]]},{"id":"56057571.ff9904","type":"inject","z":"c0265bf6.a0666","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3220,"wires":[["11491da2.c5e3b2"]]},{"id":"1384efb8.b52a9","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":3260,"wires":[]},{"id":"fa501c47.421e5","type":"find contours","z":"c0265bf6.a0666","broker":"2138a09d.58a04","method":"2","mode":"1","x":480,"y":3220,"wires":[["d0cfb942.23c75","8e345a2d.ae7dc8","5a62d157.dcbdb","e7b85513.419088","3a3b5c93.5ac554"]]},{"id":"e7b85513.419088","type":"contour filter","z":"c0265bf6.a0666","broker":"2138a09d.58a04","attr-1":"area","is-1":"lteq","val-1":"3","unit-1":"top_k","attr-2":"area","is-2":"gteq","val-2":"2","unit-2":"bot_k","attr-3":"-","is-3":"gteq","val-3":"","unit-3":"abs","attr-4":"-","is-4":"gteq","val-4":"","unit-4":"abs","x":670,"y":3220,"wires":[["81655008.8a2"]]},{"id":"81655008.8a2","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":3260,"wires":[]},{"id":"38ea6db7.bcc262","type":"contour properties","z":"c0265bf6.a0666","broker":"2138a09d.58a04","prop":"all","x":870,"y":3140,"wires":[["521a25f5.3186d4"]]},{"id":"5a62d157.dcbdb","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":3140,"wires":[["38ea6db7.bcc262"]]},{"id":"521a25f5.3186d4","type":"debug","z":"c0265bf6.a0666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":3140,"wires":[]},{"id":"95e48d12.96ab2","type":"contour approximate","z":"c0265bf6.a0666","broker":"2138a09d.58a04","epsilon":1,"closed":true,"x":940,"y":3280,"wires":[["bd231ab1.cf30f"]]},{"id":"d0cfb942.23c75","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"},{"t":"set","p":"key","pt":"msg","to":"contour_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":3340,"wires":[["95e48d12.96ab2","3246f747.c2e378","768c6a23.4620ac"]]},{"id":"3246f747.c2e378","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":3380,"wires":[]},{"id":"da90c666.afba48","type":"debug","z":"c0265bf6.a0666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":3480,"wires":[]},{"id":"7ffa53b4.8b3fac","type":"match shapes","z":"c0265bf6.a0666","broker":"2138a09d.58a04","method":"1","x":1060,"y":3400,"wires":[["293b2b43.2bab6c"]]},{"id":"8e345a2d.ae7dc8","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[1]","tot":"msg"},{"t":"set","p":"key","pt":"msg","to":"contour_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":3440,"wires":[["da90c666.afba48","768c6a23.4620ac","7a5ab8da.9abed"]]},{"id":"768c6a23.4620ac","type":"join","z":"c0265bf6.a0666","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":3400,"wires":[["7ffa53b4.8b3fac"]]},{"id":"293b2b43.2bab6c","type":"debug","z":"c0265bf6.a0666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":3440,"wires":[]},{"id":"bd231ab1.cf30f","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":3320,"wires":[]},{"id":"7a5ab8da.9abed","type":"bounding shape","z":"c0265bf6.a0666","broker":"2138a09d.58a04","shape":"Circle","x":920,"y":3500,"wires":[["cb53682b.78eee8"]]},{"id":"cb53682b.78eee8","type":"debug","z":"c0265bf6.a0666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":3540,"wires":[]},{"id":"3a3b5c93.5ac554","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":3260,"wires":[]},{"id":"f06bf02d.9b00d","type":"get min max location","z":"c0265bf6.a0666","broker":"2138a09d.58a04","getMin":false,"multiPoints":true,"threshold":"0.84","x":1280,"y":400,"wires":[["ac4882b0.92624"]]},{"id":"ac4882b0.92624","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":440,"wires":[]},{"id":"f474a62c.7ad2d","type":"thresholding","z":"c0265bf6.a0666","broker":"2138a09d.58a04","threshType":"0","threshSubtype":"0","adaptiveMethod":"0","thresh":"50","maxVal":"255","blockSize":"11","const":"0","x":1230,"y":980,"wires":[["194aec01.134b1c","ba235503.e392d"]]},{"id":"194aec01.134b1c","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1240,"y":1020,"wires":[]},{"id":"91fc628a.b8b5c8","type":"multiply image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","scale":"0.004","x":1960,"y":920,"wires":[["e5d4f3ab.c0ca4"]]},{"id":"e5d4f3ab.c0ca4","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1960,"y":960,"wires":[]},{"id":"bdccb709.d280b","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":860,"wires":[["873570b7.f6cbc"]]},{"id":"873570b7.f6cbc","type":"join","z":"c0265bf6.a0666","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1790,"y":920,"wires":[["91fc628a.b8b5c8"]]},{"id":"45a2696a.aeae98","type":"change","z":"c0265bf6.a0666","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":980,"wires":[["873570b7.f6cbc"]]},{"id":"ba235503.e392d","type":"change color space","z":"c0265bf6.a0666","broker":"2138a09d.58a04","colCode":"8","x":1450,"y":980,"wires":[["45a2696a.aeae98"]]},{"id":"bfb3d2b0.6018b","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":4560,"wires":[["668bbc1.dc845c4"]]},{"id":"668bbc1.dc845c4","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"camera","x":270,"y":4560,"wires":[["11102ee3.3c8cd1","b9f634b8.eeebd","e2241062.37829"]]},{"id":"11102ee3.3c8cd1","type":"add noise","z":"658c5316.12519c","broker":"2138a09d.58a04","mean":"0","scale":"15","noiseType":"normal","x":460,"y":4600,"wires":[["bf8ee147.9e183","5db538eb.b1d6c"]]},{"id":"bf8ee147.9e183","type":"fast Nlmeans denoising","z":"658c5316.12519c","broker":"2138a09d.58a04","hh":"50","isGrayscale":true,"hColor":"30","templateWindowSize":"41","searchWindowSize":"7","x":710,"y":4600,"wires":[["85891e4c.937de","9a84142e.c2729"]]},{"id":"b9f634b8.eeebd","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":4600,"wires":[]},{"id":"5db538eb.b1d6c","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":460,"y":4640,"wires":[]},{"id":"85891e4c.937de","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":680,"y":4640,"wires":[]},{"id":"5666d1e0.f229f","type":"compare image","z":"658c5316.12519c","broker":"2138a09d.58a04","method":"diff","tileSizeX":"8","tileSizeY":"8","x":1240,"y":4580,"wires":[["39cc9bfa.194c74"]]},{"id":"e2241062.37829","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":4560,"wires":[["817eab1.ada02d8"]]},{"id":"9a84142e.c2729","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":4600,"wires":[["817eab1.ada02d8"]]},{"id":"817eab1.ada02d8","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1080,"y":4580,"wires":[["5666d1e0.f229f"]]},{"id":"39cc9bfa.194c74","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1240,"y":4620,"wires":[]},{"id":"25e7f0c8.ffb9e","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"6","x":930,"y":2200,"wires":[[]]},{"id":"62c167b0.11f258","type":"tune hsv","z":"658c5316.12519c","broker":"2138a09d.58a04","ch":"h","multiply":"1","addi":"0","modulo":false,"x":940,"y":2240,"wires":[[]]},{"id":"8f8dbc7b.b24d58","type":"thresholding","z":"658c5316.12519c","broker":"2138a09d.58a04","threshType":"0","threshSubtype":"0","adaptiveMethod":"0","thresh":"127","maxVal":"255","blockSize":"11","const":"0","x":910,"y":2280,"wires":[[]]},{"id":"34ad3d56.ddd2aa","type":"add image","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1280,"y":2200,"wires":[[]]},{"id":"fefb1b3d.8938e8","type":"add weighted image","z":"658c5316.12519c","broker":"2138a09d.58a04","alpha":"0.5","beta":"0.5","gamma":"0","x":1320,"y":2240,"wires":[[]]},{"id":"2336e267.991a7e","type":"subtract image","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1300,"y":2280,"wires":[[]]},{"id":"bfa943be.7c0c6","type":"combine images","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1300,"y":2360,"wires":[[]]},{"id":"e897cf5e.5f2fe","type":"affine transform","z":"658c5316.12519c","broker":"2138a09d.58a04","translationPercentX":"0","translationPercentY":"0","rotCenterPercentX":"0.5","rotCenterPercentY":"0.5","rotAngle":"0","scale":"1","x":1120,"y":2280,"wires":[[]]},{"id":"8a7d16a.6e1b668","type":"resize image","z":"658c5316.12519c","broker":"2138a09d.58a04","dsize_cols":"0","dsize_rows":"0","fx":"1","fy":"1","x":1130,"y":2240,"wires":[[]]},{"id":"6f6c7c27.f79dac","type":"add offset or crop","z":"658c5316.12519c","broker":"2138a09d.58a04","left":"0","right":"0","top":"0","bot":"0","isGrayscale":false,"colorVal":"#000000","grayscaleVal":"0","x":1110,"y":2320,"wires":[[]]},{"id":"b1279f84.49fa1","type":"multiply image","z":"658c5316.12519c","broker":"2138a09d.58a04","scale":"1","x":1300,"y":2320,"wires":[[]]},{"id":"4afc1565.0a9c94","type":"prepare img for overlay","z":"658c5316.12519c","broker":"2138a09d.58a04","dest_shape_w":"100","dest_shape_h":"100","left":"0","top":"0","offsetsPercent":false,"x":1090,"y":2360,"wires":[[]]},{"id":"5c0dc807.2446","type":"get image dims","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1120,"y":2200,"wires":[[]]},{"id":"e0a7c486.99804","type":"split image","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1510,"y":2200,"wires":[[],[],[]]},{"id":"8498f0fb.74464","type":"merge image","z":"658c5316.12519c","broker":"2138a09d.58a04","x":1510,"y":2260,"wires":[[]]},{"id":"667edc27.8a3094","type":"morphological transform","z":"658c5316.12519c","broker":"2138a09d.58a04","kernelSize":"3","kernelShape":"","which":"","iterationNum":"1","x":1710,"y":2200,"wires":[[]]},{"id":"10067109.2fb71f","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"6","x":90,"y":2120,"wires":[["a0d22eb0.fcee1"]]},{"id":"417cd533.6bfb14","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":520,"y":2180,"wires":[]},{"id":"775efaca.5a2fbc","type":"debug","z":"658c5316.12519c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"times","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"38a3cd48.c84502","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1380,"y":140,"wires":[]},{"id":"79150086.4de458","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":260,"y":140,"wires":[]},{"id":"82ba80bc.ea13a8","type":"image","z":"658c5316.12519c","name":"","width":160,"data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":140,"wires":[]},{"id":"a05c3d68.99729","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":300,"y":1480,"wires":[]},{"id":"b21d3d56.18bb88","type":"depth map","z":"658c5316.12519c","broker":"2138a09d.58a04","numDisparities":"96","blockSize":"21","x":1070,"y":3400,"wires":[["a080aa63.922d58"]]},{"id":"294f419a.6415b6","type":"inject","z":"658c5316.12519c","name":"","props":[{"p":"payload"},{"p":"topic","v":"true","vt":"msg"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":3400,"wires":[["b5693608.bcffe","235b5574.ec31ba"]]},{"id":"5cec37ab.10dd6","type":"join","z":"658c5316.12519c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"key","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":930,"y":3400,"wires":[["b21d3d56.18bb88"]]},{"id":"e6b37c2a.8ad1d8","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_l","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":3380,"wires":[["5cec37ab.10dd6"]]},{"id":"6598d9e0.f53d7","type":"change","z":"658c5316.12519c","name":"","rules":[{"t":"set","p":"key","pt":"msg","to":"img_r","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":3420,"wires":[["5cec37ab.10dd6"]]},{"id":"a080aa63.922d58","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1080,"y":3440,"wires":[]},{"id":"8d703435.5f7f88","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"6","x":530,"y":3380,"wires":[["e6b37c2a.8ad1d8"]]},{"id":"1c653d11.e77a3b","type":"change color space","z":"658c5316.12519c","broker":"2138a09d.58a04","colCode":"6","x":530,"y":3420,"wires":[["6598d9e0.f53d7"]]},{"id":"b5693608.bcffe","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"stereo_motorcycle#0","x":290,"y":3380,"wires":[["8d703435.5f7f88","634bc632.acf1c8"]]},{"id":"235b5574.ec31ba","type":"get example image","z":"658c5316.12519c","broker":"2138a09d.58a04","imgName":"stereo_motorcycle#1","x":290,"y":3420,"wires":[["1c653d11.e77a3b","37f655f7.ea5872"]]},{"id":"634bc632.acf1c8","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":300,"y":3460,"wires":[]},{"id":"37f655f7.ea5872","type":"image","z":"658c5316.12519c","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":500,"y":3460,"wires":[]},{"id":"40de81eb.9b35a8","type":"debug","z":"658c5316.12519c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":3660,"wires":[]},{"id":"da39670b.0839f","type":"get example image","z":"c0265bf6.a0666","broker":"2138a09d.58a04","imgName":"astronaut","x":130,"y":860,"wires":[["f5ea5b04.e66a38","3255b2b0.158e46","bc4a8d8a.8e4d68","bdccb709.d280b"]]},{"id":"c1fea8eb.1c9c7","type":"gaussian blur","z":"c0265bf6.a0666","broker":"2138a09d.58a04","ksizex":"5","ksizey":"5","x":1030,"y":980,"wires":[["3ab6c8be.d4bbf8","f474a62c.7ad2d"]]},{"id":"3ab6c8be.d4bbf8","type":"image","z":"c0265bf6.a0666","name":"","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":1040,"y":1020,"wires":[]},{"id":"df7ed4aa.422c4","type":"debug","z":"c0265bf6.a0666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":1480,"wires":[]}]